//GENERAL
header{
  margin: 0px;
  background-image: url("../img/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  text-align: center;
  & > h1{
    margin-top: 0px;
    color: white;
    padding: 40px 20px 20px 20px;
  }
  & > .form{
    margin: auto;
  }
}

//PHONE
@media (max-width: $mobile){
  header{
    background-position: center;
    & > h1{
      font-size: 25px;
    }

  }
}

//TABLET
@media (max-width: $desktop){

}

//DESKTOP
@media (min-width: $desktop){

}